/* Body de la página */
body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: linear-gradient(90deg, var(--degr-100) -40%, var(--primary-200) 50%, var(--degr-300) 100%);
    padding: 20px;
}

/* Panel principal */
.panel-animado {
    background-color: var(--accent-300);
    border-radius: 10px;
    position: relative;
    overflow: hidden;
    width: 100%;
    max-width: 800px;
    min-height: 480px;
    box-shadow: 0 80px 30px rgba(0,0,0,0.2);
}

/* Contenedor de formularios */
.panel-formulario {
    position: absolute;
    top: 0;
    height: 100%;
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.7s ease-in-out;
    background: var(--accent-200);
}

/* Panel login */
.panel-formulario.login {
    left: 0;
    z-index: 2;
}

/* Panel registro */
.panel-formulario.registro {
    left: 0;
    opacity: 0;
    z-index: 1;
}

/* Formulario interno */
.panel-formulario form {
    width: 100%;
    padding: 50px;
    display: flex;
    flex-direction: column;
    text-align: center;
    background: var(--accent-200);
}

/* Titulo del formulario */
.panel-formulario form h2 {
    margin-bottom: 20px;
    color: var(--text-negro);
}

/* Campo de input */
.campo-input{
    position: relative;
    width: 100%;
    margin: 8px 0;
}

/* Input del formulario - Cuadros donde el usuario escribe */
.panel-formulario form input {
    width: 100%;
    padding: 16px 10px 8px 10px;
    border: 1px solid var(--primary-200);
    border-radius: 5px;
    background: var(--accent-100);
    font-size: 13px;
    outline: none;
}

/* Borde activo del input - Cambia color cuando el usuario escribe */
.panel-formulario form input:focus{
    border-color: var(--primary-100);
}

/* Label flotante - Texto dentro del input*/
.campo-input label{
    position: absolute;
    left: 10px;
    top: 14px;
    color: var(--text-cafesito);
    font-size: 13px;
    pointer-events: none;
    transition: 0.2s ease all;
    padding: 0 4px;
    font-style: italic;
}

/* Animación del label mientras se escribe */
.campo-input input:focus + label{
    top: -8px;
    font-size: 13px;
    color: var(--text-cafesito);
    background: var(--accent-100);
}

/* Label arriba si hay texto escrito */
.campo-input input:not(:placeholder-shown) + label{
    top: -8px;
    font-size: 13px;
    color: var(--text-cafesito);
    background: var(--accent-100);
}

/* Botón principal del formulario - login o registro */
.panel-formulario form button {
    padding: 12px;
    margin-top: 20px;
    border-radius: 5px;
    background-color: var(--ver-boton);
    border: 0.5px solid var(--text-cafesito);
    color: var(--text-blanco);
    cursor: pointer;
    font-weight: bold;
    transition: background 0.3s;
}

/* Hover del botón */
.panel-formulario form button:hover {
    background-color: var(--tocar-boton);
    color: var(--text-blanco);
}

/* Panel deslizante - Contenedor del panel azul animado */
.panel-deslizante {
    position: absolute;
    top: 0;
    left: 50%;
    width: 50%;
    height: 100%;
    overflow: hidden;
    transition: transform 0.6s ease-in-out;
}

/* Movimiento del login */
.panel-animado.activo .panel-formulario.login {
    transform: translateX(100%);
}

/* Movimiento del registro */
.panel-animado.activo .panel-formulario.registro {
    transform: translateX(100%);
    opacity: 1;
    z-index: 5;
}

/* Movimiento del panel azul */
.panel-animado.activo .panel-deslizante {
    transform: translateX(-100%);
}

/* Contenido del panel azul - Área donde están los textos y botones */
.contenido-deslizante {
    background: linear-gradient(to right, var(--ver-boton), var(--degr-300));
    color: var(--text-negro);
    position: relative;
    left: -100%;
    height: 100%;
    width: 200%;
    display: flex;
    transition: transform 0.6s ease-in-out;
}

/* Animación del contenido azul */
.panel-animado.activo .contenido-deslizante {
    transform: translateX(50%);
}

/* Paneles internos del slider - Panel izquierdo y derecho*/
.contenido-izquierdo,
.contenido-derecho {
    position: absolute;
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 40px;
    text-align: center;
}

/* Espacio entre título y texto */
.contenido-izquierdo h1,
.contenido-derecho h1{
    margin-bottom: 20px;
}

/* Panel izquierdo */
.contenido-izquierdo {
    left: 0;
    transform: translateX(0);
}

/* Panel derecho */
.contenido-derecho {
    right: 0;
}

/* Botones que cambian entre login y registro */
.boton-ghost {
    background: var(--ver-boton);
    border: 0.5px solid var(--text-cafesito);
    padding: 12px 24px;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
    margin-top: 20px;
    color: var(--text-blanco);
}

/* Hover de botones del panel azul */
.boton-ghost:hover {
    background-color: var(--tocar-boton);
    color: var(--text-blanco);
}

/* Logo - Imagen decorativa dentro del panel azul */
.logo {
    width: 150px;
    height: auto;
    margin: 25px 0 15px 0;
}

/* Texto de recuperar contraseña */
.panel-formulario form p {
    margin-top: 10px;
    color: var(--text-negro);
    font-size: small;
}

/* Al ponerse sobre el texto de recuperar contraseña */
.panel-formulario form p:hover {
    text-decoration: underline;
    cursor: pointer;
}

/* Notificación flotante */
.toast {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: var(--degr-400);
    color: #fff;
    padding: 14px 20px;
    border-radius: 8px;
    font-size: 14px;
    opacity: 0;
    transform: translateY(20px);
    transition: all 0.3s ease;
    z-index: 9999;
}

/* Cuando aparece */
.toast.show {
    opacity: 1;
    transform: translateY(0);
}

/* Modal transparente */
#modal-recuperar {
    position: fixed;
    inset: 0;
    background: rgba(0,0,0,0.55);
    display: none; 
    justify-content: center;
    align-items: center;
    z-index: 3000;
    padding: 15px;
}

/* Activar modal */
#modal-recuperar.active {
    display: flex;
}

/* Título modal */
#modal-recuperar h3 {
    margin-bottom: 25px;
    text-align: center;
    color: var(--text-negro);
    font-size: 1.5rem;
    letter-spacing: 0.5px;
}

/* Modal - Textos tipo label */
#modal-recuperar label {
    position: static !important;
    transform: none !important;
    font-size: 14px;
    color: var(--text-negro);
    margin-bottom: 6px;
    display: block;
    font-style: normal;
    margin-left: -4px;
}

/* Caja del modal */
#modal-recuperar .modal-content{
    background: var(--accent-300);
    border-radius: 16px;
    padding: 30px 35px;
    max-width: 500px;
    width: 100%;
    box-shadow: 0 12px 35px rgba(0,0,0,0.25);

    transform: scale(0.9);
    opacity: 0;
    transition: all 0.25s ease;
    position: relative;
}

/* Animación al abrir */
#modal-recuperar .modal-content {
    transform: scale(1);
    opacity: 1;
}

/* Botón cerrar (X) */
#modal-recuperar .cerrar {
    position: absolute;
    top: 12px;
    right: 15px;
    font-size: 1.5rem;
    font-weight: bold;
    cursor: pointer;
    color: var(--text-cafesito);
}

/* Inputs dentro del modal */
.modal-content input {
    width: 100%;
    padding: 8px;
    margin-bottom: 15px;
    border-radius: 6px;
    border: 1px solid var(--primary-200);
    color: var(--text-negro);
    background: var(--accent-100);
    font-style: italic;
    font-size: 13px;
}

/* Botones dentro del modal */
#modal-recuperar button{
    padding: 8px 15px;
    border-radius: 6px;
    background: var(--ver-boton);
    border: 0.5px solid var(--text-cafesito);
    color: var(--text-blanco);
    cursor: pointer;
    align-items: center;
    font-size: 0.95rem;
}

/* Contenedor de botones */
#modal-recuperar .botones{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
    margin-top: 15px;
    flex-wrap: nowrap;
}

/* Botones igual estilo */
#modal-recuperar button{
    padding: 10px 20px;
    border-radius: 5px;
    border: 0.5px solid var(--text-cafesito);
    cursor: pointer;
    background: var(--ver-boton);
    color: var(--text-blanco);
}

#modal-recuperar button:hover{
    background: var(--tocar-boton);
    color: var(--text-blanco);

}

/* Por si hay animaciones raras */
#modal-recuperar .input-group {
    position: static;
}

/* Ver contraseña */
.toggle-pass{
    position: absolute;
    right: 10px;
    top: 14px;
    font-size: 11px;
    color: var(--primary-100);
    cursor: pointer;
    user-select: none;
    font-weight: 500;
}

.toggle-pass:hover{
    text-decoration: underline;
}